.font-smoothing {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: 'SamsungOne 400';
    src: url("/QvAjaxZfc/QvsViewClient.aspx?public=only&type=document&name=Extensions/FixedCenterContent_MINIQOR/fonts/samsungone-400.woff") format('woff'),
		 url("/QvAjaxZfc/QvsViewClient.aspx?public=only&type=document&name=Extensions/FixedCenterContent_MINIQOR/fonts/samsungone-400.woff2") format('woff2');
    font-weight: 400;
    font-style: 400;
}

@font-face {
    font-family: 'SamsungOne 700';
    src: url("/QvAjaxZfc/QvsViewClient.aspx?public=only&type=document&name=Extensions/FixedCenterContent_MINIQOR/fonts/samsungone-700.woff") format('woff'),
		 url("/QvAjaxZfc/QvsViewClient.aspx?public=only&type=document&name=Extensions/FixedCenterContent_MINIQOR/fonts/samsungone-700.woff2") format('woff2');
    font-weight: 700;
    font-style: 700;
}
@font-face {
    font-family: 'SamsungOne 200';
    src: url("/QvAjaxZfc/QvsViewClient.aspx?public=only&type=document&name=Extensions/FixedCenterContent_MINIQOR/fonts/samsungone-200.woff") format('woff'),
		 url("/QvAjaxZfc/QvsViewClient.aspx?public=only&type=document&name=Extensions/FixedCenterContent_MINIQOR/fonts/samsungone-200.woff2") format('woff2');
    font-weight: 200;
    font-style: 200;
}
@font-face {
    font-family: 'SamsungOne 300';
    src: url("/QvAjaxZfc/QvsViewClient.aspx?public=only&type=document&name=Extensions/FixedCenterContent_MINIQOR/fonts/samsungone-300.woff") format('woff')
		 url("/QvAjaxZfc/QvsViewClient.aspx?public=only&type=document&name=Extensions/FixedCenterContent_MINIQOR/fonts/samsungone-300.woff2") format('woff2');
    font-weight: 300;
    font-style: 300;
}
@font-face {
    font-family: 'SamsungOne 500';
    src: url("/QvAjaxZfc/QvsViewClient.aspx?public=only&type=document&name=Extensions/FixedCenterContent_MINIQOR/fonts/samsungone-500.woff") format('woff'),
		 url("/QvAjaxZfc/QvsViewClient.aspx?public=only&type=document&name=Extensions/FixedCenterContent_MINIQOR/fonts/samsungone-500.woff2") format('woff2');
    font-weight: regular;
    font-style: bold;
}
@font-face {
	    font-family: 'SamsungOne 600';
    src: url("/QvAjaxZfc/QvsViewClient.aspx?public=only&type=document&name=Extensions/FixedCenterContent_MINIQOR/fonts/samsungone-600.woff") format('woff'),
		 url("/QvAjaxZfc/QvsViewClient.aspx?public=only&type=document&name=Extensions/FixedCenterContent_MINIQOR/fonts/samsungone-600.woff2") format('woff2');
    font-weight: 600;
    font-style: 600;
}
@font-face {
    font-family: 'SamsungOne 800';
    src: url("/QvAjaxZfc/QvsViewClient.aspx?public=only&type=document&name=Extensions/FixedCenterContent_MINIQOR/fonts/samsungone-800.woff") format('woff'),
		 url("/QvAjaxZfc/QvsViewClient.aspx?public=only&type=document&name=Extensions/FixedCenterContent_MINIQOR/fonts/samsungone-800.woff2") format('woff2');
    font-weight: 800;
    font-style: 800;
}
@font-face {
    font-family: 'Samsung Sharp Sans Bold';
    src: url("/QvAjaxZfc/QvsViewClient.aspx?public=only&type=document&name=Extensions/FixedCenterContent_MINIQOR/fonts/SamsungSharpSans-Bold.woff") format('woff'),
		 url("/QvAjaxZfc/QvsViewClient.aspx?public=only&type=document&name=Extensions/FixedCenterContent_MINIQOR/fonts/SamsungSharpSans-Bold.woff2") format('woff2');
    font-weight: normal;
    font-style: Regular;
}