/*
.brandingDemo{background:url("/snow.jpg") no-repeat top left;}
*/
.CenterAlign1340 .master{position:relative;margin:0 auto;}
/*#MainContainer{width:1340px;background:white;padding-top:28px; position:relative;display:inline-block;}
#PageContainer{display:inline-block;padding-top:0px;}*/
