.Tabrow {
height: 45px;
z-index: 100000;
}


.navbar {
    /* position: center; */
	/**/

top: 0;
position: fixed;
width: 100%;
margin: 0 auto;
transition: 0.8s;
	/**/
    z-index: 100000;
	height: 45px;
	background-color: rgba(255,255,255,1);
	font-family: 'MINI Sans Serif',Times New Roman,Garamond,serif;
	border-bottom-width: 0px;
	border-bottom-style: solid;
	/* border-bottom-color: #00ffffff; */
	font-size: 18px;
}

.navbar>ul {
	padding: 	0 0 0 0;
	position: center;
	/*margin: 0px 2% 0 2%;*/
	background-color: rgba(255,255,255,0);
}

.navbar>li {
	float: left;
	display: inline;
	margin: 10px 0% 0 0%;
	position: center;
	background-color: rgba(255,255,255,0);
}

.navbar>li>a {
	display: block;
	padding: 0 0 5px 0;
	margin: 0 25px 0 0;
	color: #5D5F61;
	cursor: pointer;
	border-bottom: 2px solid transparent;
	position: center;
	top: 0;
	text-align: center;
	background-color: rgba(255,255,255,0);
	z-index: 9998 !important;
}

.navbar>li>a:hover, .navbar>li>a:focus {
	color: #000000;
	font-weight: regular;
	border-bottom-color: #000000;
	position: center;
	background-color: rgba(255,255,255,0);
}

.navbar>li>a:hover {
	color: #000000;
}